@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Roboto:ital,wght@0,400;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
}

:root {
  --firstColor: #CAD6FF;
  --secondColor: #15345B;
  --thirdColor: #495057;
  --messageColor: #343A40;
  --messageDescription: #495057;
}

body {
  background-color: var(--firstColor);
  height: 100vh;
}

.button__input, .main__output__button {
  border-radius: 10px;
  padding: 2% 14% 2% 14%;
}

.container {
  width: 1050px;
  margin: 0 auto;
  box-sizing: border-box;
}

header {
  display: flex;
  padding-top: 2vh;
  align-items: center;
}

.iconLogo {
  width: 5%;
}

.imgCadeado {
  left: 40%;
  width: 20%;
}

main{
  padding-bottom: 3%;
}

.main__input {
  display: flex;
  gap: 80px;
}

.main__input__alert {
  color: var(--messageDescription);
}

.main__input__exclamation {
  border-radius: 50%;
  background-color: gold;
  padding: 0 1% 0 1%;
  width: 4%;
}

.main__box__input {
  background-color: var(--firstColor);
  border: 0;
  width: 50vw;
  height: 70vh;
  color: var(--secondColor);
}

.main__output {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -20%;
}

.main__box__input, .main__box__output {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.main__box__output  {
  border-radius: 3%;
  background-color: #ffffff;
  border: 0 solid #ffffff;
  padding: 10%;
  color: var(--thirdColor);
  width: 20vw;
  height: 70vh;
}

.main__output__float {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  left: 20%;
  top: 60%;
  gap: 16px;
  width: 70%;
}

.main__output__float___message {
  text-align: center;
  font-size: 1.5rem;
  color: var(--messageColor);
}

.main__output__message__description {
  color: var(--messageDescription);
  font-size: 1rem;
}

.main__button {
  display: flex;
  gap: 4%;
}

.header__logo__name {
    font-family: 'Leckerli One', cursive;
    font-size: 1.4rem;
}
footer {
  background-color: var(--secondColor);
  height: 6vh;
  padding-top: 2vh;
}

.footer__text {
  text-align: center;
  color: #ffffff;
}

textarea::placeholder {
  color: var(--secondColor);
}

textarea {
  font-size: 1.5rem;
  font-family: Inter, Arial, sans-serif;
}
textarea: select{
  outline: 0;
  border: 0 solid #ffffff;
}

#main__button__decodificar {
  background-color: var(--secondColor);
  color: #ffffff;
}

#main__button__descriptografar, .main__output__button  {
  color: var(--secondColor);
}

.main__output__button {
  position: relative;
  top: 210px;
  padding: 4% 40% 4% 40%;
  visibility: hidden;
}

@media(max-width: 1270px) {
  .main__output__float___message  {
    font-size: 1.2rem;
  }
  .main__output__message__description {
    font-size: 0.8rem;
  }
  .main__output__float {
    left: 7%;
  }
}

@media(max-width: 700px) {
  .container {
    width: 90%;
    padding: 5%;
  }

  .main__input {
    flex-direction: column;
  }

  .main__box__input {
    height: 200px;
    width: 100%;
  }

  .main__box__output {
    width: 80%;
    height: 40%;
  }

  .main__button {
    flex-direction: column;
    gap: 10px;
  }
  .main__output__float {
    position: relative;
    top: 145px;
  }

  .imgCadeado {
    visibility: hidden;
  }

  .main__output__float___message {
    font-size: 0.8rem;
  }

  .main__output__message__description{
    font-size: 0.5rem;
  }

}
